useDynLib(smooth.commutability, .registration=TRUE)
importFrom(Rcpp, evalCpp)
import(data.table)
import(splines)
import(fasteqa)
importFrom("stats", "optimise", "predict", "qt", "quantile", "smooth.spline")
exportPattern("^[[:alpha:]]+")
