useDynLib(smooth.commutability, .registration=TRUE)
importFrom(Rcpp, evalCpp)
import(data.table)
import(ggplot2)
import(splines)
import(fasteqa)
import(pbapply)
import(parallel)
import(Matrix)
importFrom("grDevices", "nclass.Sturges")
importFrom("stats", "optimise", "predict", "qt", "pt", "runif", "quantile", "integrate", "df", "smooth.spline",".nknots.smspl", "density", "na.omit")
exportPattern("^[[:alpha:]]+")
