useDynLib(smooth.commutability, .registration=TRUE)
importFrom(Rcpp, evalCpp)
import(data.table)
import(splines)
import(fasteqa)
import(pbapply)
import(parallel)
importFrom("stats", "optimise", "predict", "qt", "quantile", "smooth.spline",".nknots.smspl")
exportPattern("^[[:alpha:]]+")
